@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,400,700,900&display=swap&subset=korean");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

@-webkit-keyframes moveInLeft {
  /*왼쪽에서 오른쪽으로 애니메이션*/
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  /*왼쪽에서 오른쪽으로 애니메이션*/
  0% {
    opacity: .1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  /*오른쪽에서 왼쪽으로 애니메이션*/
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  /*오른쪽에서 왼쪽으로 애니메이션*/
  0% {
    opacity: .1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff2d77;
  -webkit-transition: all .5s;
  transition: all .5s;
}

h2:hover {
  padding-left: 1.5rem;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

header {
  width: 100%;
  height: 100vh;
  background: #63aaf5;
  position: relative;
}

header #header-deco {
  position: relative;
  width: 25rem;
  height: 35rem;
  background: #ff2d77;
  top: 29%;
  left: 5%;
}

@media screen and (max-width: 600px) {
  header #header-deco {
    display: none;
  }
}

header #header-deco::after {
  content: '';
  display: block;
  background: #63aaf5;
  position: absolute;
  top: 2.5rem;
  left: 4.5rem;
  width: 85%;
  height: 100%;
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  border-left: 2px solid #ff2d77;
  border-bottom: 2px solid #ff2d77;
}

header #header-text {
  position: absolute;
  left: 16%;
  top: 50%;
  color: #ff2d77;
  letter-spacing: -.1rem;
  font-weight: 700;
}

@media screen and (max-width: 980px) {
  header #header-text {
    left: 20%;
  }
}

@media screen and (max-width: 600px) {
  header #header-text {
    left: 10%;
  }
}

header #header-text-main {
  font-size: 6rem;
  line-height: 6rem;
  -webkit-animation: moveInRight 1s backwards;
          animation: moveInRight 1s backwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@media screen and (max-width: 980px) {
  header #header-text-main {
    font-size: 5rem;
  }
}

header #header-text-sub {
  margin-top: 1.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  -webkit-animation: moveInRight 1s backwards;
          animation: moveInRight 1s backwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

main {
  background-color: #ededed;
}

main::after {
  content: '';
  display: block;
  clear: both;
}

main #section-about {
  padding: 12rem 6rem;
  float: left;
  width: 66.6666%;
  height: 100%;
}

main #section-about::after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 1200px) {
  main #section-about {
    padding-top: 5rem;
    padding-bottom: 30rem;
  }
}

@media screen and (max-width: 980px) {
  main #section-about {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  main #section-about {
    padding-bottom: 7rem;
  }
}

main #section-about .about {
  width: 60%;
  padding-right: 2rem;
  float: left;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  main #section-about .about {
    width: 100%;
  }
}

main #section-about .about li:nth-child(2) .about-txtbox-tit {
  margin-top: 8rem;
}

@media screen and (max-width: 1200px) {
  main #section-about .about li:nth-child(2) .about-txtbox-tit {
    margin-top: 4rem;
  }
}

main #section-about .about-txtbox-tit {
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: #222;
  font-size: 1.6rem;
  font-weight: 800;
}

main #section-about .about-txtbox-txt {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
  color: #555;
}

main #section-about-photo {
  position: relative;
  width: 40%;
  float: left;
}

@media screen and (max-width: 1200px) {
  main #section-about-photo {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  main #section-about-photo {
    display: none;
  }
}

main #section-about-photo .photo {
  position: absolute;
  width: 23rem;
  height: 17rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main #section-about-photo .photo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding: 1rem;
  border: 3px solid #ff2d77;
  z-index: 10;
}

main #section-about-photo .photo:nth-child(1) {
  left: 1rem;
  top: 15rem;
}

@media screen and (max-width: 1200px) {
  main #section-about-photo .photo:nth-child(1) {
    top: 5rem;
    left: 2rem;
  }
}

@media screen and (max-width: 980px) {
  main #section-about-photo .photo:nth-child(1) {
    left: 0;
  }
}

main #section-about-photo .photo:nth-child(2) {
  top: 30rem;
  right: 0;
}

@media screen and (max-width: 1200px) {
  main #section-about-photo .photo:nth-child(2) {
    top: 5rem;
    right: 2rem;
  }
}

@media screen and (max-width: 980px) {
  main #section-about-photo .photo:nth-child(2) {
    right: 0;
  }
}

main #section-about-photo .photo img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}

main #section-skills {
  float: left;
  width: 33.3333%;
}

@media screen and (max-width: 980px) {
  main #section-skills {
    width: 100%;
  }
}

main #section-skills > div {
  width: 100%;
  height: 22rem;
}

@media screen and (max-width: 980px) {
  main #section-skills > div {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  main #section-skills > div {
    width: 100%;
  }
}

main #section-skills > div:nth-child(even) {
  background-color: #cee6ff;
}

main #section-skills > div:nth-child(odd) {
  background-color: #a2cbf7;
}

@media screen and (max-width: 980px) {
  main #section-skills > div:nth-child(3) {
    background-color: #cee6ff;
  }
}

@media screen and (max-width: 600px) {
  main #section-skills > div:nth-child(3) {
    background-color: #a2cbf7;
  }
}

@media screen and (max-width: 980px) {
  main #section-skills > div:nth-child(4) {
    background-color: #a2cbf7;
  }
}

@media screen and (max-width: 600px) {
  main #section-skills > div:nth-child(4) {
    background-color: #cee6ff;
  }
}

main #section-skills > div .skill-txtbox {
  padding: 5rem;
}

main #section-skills > div .skill-txtbox-tit {
  color: #ff2d77;
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

main #section-skills > div .skill-txtbox-list {
  list-style: none;
  padding-left: 1rem;
}

main #section-skills > div .skill-txtbox-list li {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  color: #555;
  margin-bottom: .5rem;
}

footer {
  color: #ff2d77;
  background-color: #63aaf5;
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

footer #footer-list {
  width: 100%;
  height: 15rem;
  list-style: none;
  padding-top: 7.5rem;
}

footer #footer-list li {
  float: left;
  width: 50%;
  text-align: center;
}

footer #footer-list li a {
  color: #ff2d77;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #63aaf5;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #63aaf5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-text:hover {
  color: #fff;
  background-color: #ff2d77;
  border-bottom: none;
}

.nav-checkbox {
  display: none;
}

.nav-button {
  background-color: #ff2d77;
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 4rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.nav-bg {
  background-image: radial-gradient(#63aaf5, #cee6ff);
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 4rem;
  z-index: 1000;
  border-radius: 7rem;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.nav-checkbox:checked ~ .nav-bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.nav-icon {
  position: relative;
  margin-top: 30px;
}

.nav-icon::before {
  top: -0.8rem;
}

.nav-icon::after {
  top: 0.8rem;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #eaeaea;
}

.nav-button:hover .nav-icon::before {
  top: -1rem;
}

.nav-button:hover .nav-icon::after {
  top: 1rem;
}

.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
}

.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .6s;
  transition: all .6s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
}

.nav-link:hover {
  color: #63aaf5;
  background-position: 100%;
}

.nav-link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.nav-checkbox:checked ~ .nav-body {
  left: 0;
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */