footer{
    color: $color-secondary;
    background-color: $color-primary;
    @include clearfix();

    #footer-list{
        width: 100%;
        height: 15rem;
        list-style:none;
        padding-top: 7.5rem;

        li{
            float:left;
            width: 50%;
            text-align: center;

            a{
                color:$color-secondary;
                font-size:2rem;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}